<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="34.2.2" />
  <package id="Syncfusion.DocIO.Wpf" version="34.2.2" />
  <package id="syncfusion.markdown" version="34.2.2" />
  <package id="syncfusion.sfrichtextboxadv.wpf" version="34.2.2" />
  <package id="syncfusion.sfrichtextribbon.wpf" version="34.2.2" />
  <package id="syncfusion.tools.wpf" version="34.2.2" />
  <package id="syncfusion.sfbusyindicator.wpf" version="34.2.2" />
  <package id="syncfusion.sfchat.wpf" version="34.2.2" />
</packages>