<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="31.2.2" />
  <package id="Syncfusion.DocIO.Wpf" version="31.2.2" />
  <package id="syncfusion.sfbusyindicator.wpf" version="31.2.2" />
  <package id="syncfusion.sfinput.wpf" version="31.2.2" />
  <package id="syncfusion.sfrichtextboxadv.wpf" version="31.2.2" />
  <package id="syncfusion.sfrichtextribbon.wpf" version="31.2.2" />
  <package id="syncfusion.sfskinmanager.wpf" version="31.2.2" />
  <package id="syncfusion.shared.wpf" version="31.2.2" />
  <package id="syncfusion.themes.materiallight.wpf" version="31.2.2" />
  <package id="syncfusion.themes.materialdark.wpf" version="31.2.2" />
  <package id="syncfusion.themes.materiallightblue.wpf" version="31.2.2" />
  <package id="syncfusion.themes.materialdarkblue.wpf" version="31.2.2" />
  <package id="syncfusion.themes.office2019black.wpf" version="31.2.2" />
  <package id="syncfusion.themes.office2019colorful.wpf" version="31.2.2" />
  <package id="syncfusion.tools.wpf" version="31.2.2" />
</packages>